<h1>PRODUCTS</h1>
<div>
    {{#each products}}
        <div>
            <p>ID : {{this.id}}</p>
            <p>TITLE : {{this.title}}</p>
            <p>PRICE : {{this.price}}</p>
            <hr>
        </div>
    {{/each}}
</div>
<div id="messageLogs">
    
</div>
<script src="/js/index.js"></script>