<h1>Real Time Products!</h1>
<div id ="products">
     {{#each products}}
        <div>
            <p>ID : {{this.id}}</p>
            <p>TITLE : {{this.title}}</p>
            <p>PRICE : {{this.price}}</p>
            <hr>
        </div>
    {{/each}}
    
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>